body{
	background-image: url("towersbg.png");
	background-size: cover;
	animation-name: backgroundChange;
	animation-duration: 10s;
	animation-iteration-count: infinite;
}

.drop{
	position: relative;
	display: inline-block;
}

.dropbutt{
	border-style: outset;
	background-color: white;
}

.dropbutt:hover{
	border-style: inset;
}

.dropcont {
    display: none;
    position: absolute;
	border: inset;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropcont a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropcont a:hover{
	background: grey;
}

.drop:hover .dropcont {
	display: block;
}

div{
	text-align: center;
}

div#Logo{
	position: fixed;
	top: 150px;
	left: 500px;
	right: 500px;
	margin-top = 100px;
	margin-bottom = 100px;
}

div#Games{
	position: fixed;
	top: 75%;
	left: 500px;
	right: 500px;
}

h2{
	display: inline;
	margin: 10px;
	border-style: outset;
}

h2#Hang:hover{
	background-image: url("hangmanbg.png");
}

h2#Tower:hover{
	background-image: url("towersbg.png");
}

@-webkit-keyframes backgroundChange{
	0% {background-image: url("towersbg.png");}
	50% {background-image: url("hangmanbg.png");}
}

footer img{
	position: fixed;
	top: 95%;
	left: 95%;
	height: 50px;
	width: 50px;
	
}